# GitHub Token with repo:read access for the configured repository
TF_VAR_github_token=

# GitHub Organization Name
TF_VAR_github_org=

# GitHub Repository Name
TF_VAR_github_repo=

# Terraform backend password (GitHub Token)
TF_HTTP_PASSWORD=
